[Desktop Entry]
Version=2.0
Name=surf
Icon=surf
GenericName=Web Browser
Comment=A simple web browser based on WebKit2/GTK+, with tabbed.
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=tabbed -c surf -e
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
